<%- include('./includes/header') %>




<div class="top-row">
    <div class="row top-row-background-only">
        <div class="col-md-7">
            <%- include('./includes/nav') %>
                <div class="container" style="vertical-align: middle;">
                    <h1 class="booking-title">A PROMISE IS A PROMISE</h1>
                </div>


                <div class="container-fluid" style="padding: 20vh 3rem 0rem 3rem;">
                    <div class="row">
                        <div class="col-md-12">



                            <p style="text-align: justify;">
                                <a href="https://radiant.co.rw/" target="_blank">RADIANT Insurance Company
                                    Ltd</a> (RADIANT) was registered on 11 September 2012 and it
                                was licensed by the National Bank of Rwanda (BNR) on 3rd January 2013 to carry
                                out
                                non-life insurance businesses.
                            </p>
                            <br>
                            <p>
                                The company operates from its Head Office located
                                at
                                CHIC Building in Kigali City, Nyarugenge District and in over 50 branches across
                                the
                                country. RADIANT'S share Capital is FRW 6,500,000,000 fully paid up by
                                investors.
                            </p>
                            <br>
                            <p class="text-center">
                                <img src="/images/logo-radiant.png" alt="" class="" height="75">
                                <span style="font-style: italic;font-size: 13px;font-weight: 600;">a member
                                    of</span>
                                <a href="https://www.globus-network.com/fr/accueil/" target="_blank"><img
                                        src="/images/logo-globus.png" alt="" class="" height="75"></a>
                                <span style="font-style: italic;font-size: 13px;font-weight: 600;">network</span>
                            </p>
                            <br>
                            <p style="text-align: justify;">
                                <a href="https://radiant.co.rw/" target="_blank">RADIANT</a> is a member of the
                                Multilingual Pan African Network - <a href="https://www.globus-network.com/fr/accueil/"
                                    target="_blank">GLOBUS</a>
                                - whose main
                                objective is to offer its Corporate International clients a global network
                                services
                                on the whole African Continent.

                                Our managing director, Mr Marc Rugenera, is member of the board of
                                directors of the Network.
                            </p>

                        </div>
                    </div>

                </div>


        </div>
        <div class="col-md-5" style="padding: 0 !important;">

            <section class="">
                <div class="container-fluid" style="padding: 0 !important;">
                    <div class="row justify-content-center" style="padding: 0 !important;">
                        <div class="col-lg-12" style="padding: 0 !important;">


                            <img src="/images/umbralla-background.jpg" alt="" style="width: 100%;">

                            <!-- <div class="card shadow-lg p-4">
                                <div class="card-body">



                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>


</div>


    <%- include('./includes/footer') %>