<%- include('./includes/header') %>


    <%- include('./includes/nav') %>






        <section class="register-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-center text-white pb-3">Contact</h2>
                        <div class="card shadow-lg p-4">
                            <div class="card-body">

                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>









        <%- include('./includes/footer') %>