  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

  body,
  * {
      font-family: Lexend Deca;
  }

  .hero {
      /* background-image: url('../images/bg-home-1.png'); */
      /* height: 50vh; */
      width: 100%;
      background-repeat: repeat;
      background-size: cover;
  }

  /* #main-navbarNav .navbar-nav .nav-item .nav-link{
    color: #fff;
} */

  .register-section {
      margin-top: 1.5rem
  }

  .success-section {
      margin-top: -140px;
  }

  .author {
      font-size: 0.8em;
      margin-top: 5px;
  }

  .navbar-light .navbar-nav .nav-link {
      color: rgb(0 0 0);
  }

  .form-label {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
  }

  .top-row {
      background-image: url('../images/striped-blue-background.jpg');
      /* height: 50vh; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 50vh;
  }

  .booking-title {
      color: white;
      padding: 2rem;
      font-size: 2.5rem;
  }

  a {
      text-decoration: none;
  }

  .contact-links {
      text-decoration: none !important;
      color: #00B0E2;
  }

  .top-row-background-only {
      background-image: url('../images/dark-grey.jpg');
      /* height: 50vh; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 100% 150px;
      border-bottom: 1px solid white;
      margin: 0;
  }


  @media (max-width: 600px) {
      .navbar-brand img {
          height: 60px;
      }
      .navbar  .container-fluid{
        padding-left: 0 !important
      }
  }